<% layout("/layouts/boilerplate.ejs") -%>
  <h2>This is my Qr Code which you can use for make payment to support me make similar application with 100% free to use.</h2>
  <a href="upi://pay?pa=9780111228@okhdfcbank&pn=JohnDoe&cu=INR">
    <h3>Make Payment</h3>
  </a>