button {
  background-color: #2828b0;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4b4bcc;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="text"], input[type="number"] {
  font-size: 18px;
  padding: 10px;
  width: 90%;
  margin: 8px 0;
  background-color: #f0f0f5;
  border: 2px solid #ccccff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus {
  background-color: #e6e6ff;
  border-color: #6666ff;
  outline: none;
  box-shadow: 0 0 5px #6666ff;
}

select {
  padding: 8px;
  font-size: 16px;
  background-color: #f0f0f5;
  border: 1px solid #ccccff;
  border-radius: 5px;
}

h3 {
  text-align: center;
  font-size: 24px;
}