<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<footer>
  <style>
    footer{
      margin-top: 20px;
      width: 100%;
      background-color: aliceblue;
    }
    .f-info-links a {
      cursor: pointer;
      text-decoration: none;
      color: #222222;
      gap: 10px;
    }
    .f-info-links a:hover {
      text-decoration: underline;
    }
    .f-info-socials {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .f-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 25rem;
      padding: 1rem;
      text-align: center;
    }
    .f-info > div {
      text-align: center;
      width: 100%;
    }
  </style>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.github.com/tech-dipesh"><i class="fa-brands fa-github"></i></a>
      <a href="https://api.whatsapp.com/send/?phone=%9779745400194&text=From%2C%20Listing%20Project&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="https://www.linkedin.com/in/tech-dipesh"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&copy; Dipesh Sharma Private Limited</div>
    <div class="f-info-links">
      <a href="/listings/contact">Privacy</a>
      <a href="/listings/contact">Terms & Conditions</a>
      <a href="/listings/contact">Donate me for growth</a>
    </div>
  </div>
</footer>
